<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fit.dao.MemberSheetItemDao">
  <resultMap id="BaseResultMap" type="com.fit.entity.MemberSheetItem">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="answer_sheet" jdbcType="BIGINT" property="answerSheet" />
    <result column="my_option" jdbcType="BIGINT" property="myOption" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_date, modify_date, answer_sheet, my_option
  </sql>
  <select id="getById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from member_sheet_item
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="delete" parameterType="java.lang.Long">
    delete from member_sheet_item
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="save" keyProperty="id" parameterType="com.fit.entity.MemberSheetItem" useGeneratedKeys="true">
    insert into member_sheet_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="modifyDate != null">
        modify_date,
      </if>
      <if test="answerSheet != null">
        answer_sheet,
      </if>
      <if test="myOption != null">
        my_option,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="answerSheet != null">
        #{answerSheet,jdbcType=BIGINT},
      </if>
      <if test="myOption != null">
        #{myOption,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.fit.entity.MemberSheetItem">
    update member_sheet_item
    <set>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="answerSheet != null">
        answer_sheet = #{answerSheet,jdbcType=BIGINT},
      </if>
      <if test="myOption != null">
        my_option = #{myOption,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <sql id="Base_Where_List">
    <where>
      <if test="createDate != null and createDate != ''">
         and create_date = #{createDate,jdbcType=TIMESTAMP}
      </if>
      <if test="modifyDate != null and modifyDate != ''">
         and modify_date = #{modifyDate,jdbcType=TIMESTAMP}
      </if>
      <if test="answerSheet != null and answerSheet != ''">
         and answer_sheet = #{answerSheet,jdbcType=BIGINT}
      </if>
      <if test="myOption != null and myOption != ''">
         and my_option = #{myOption,jdbcType=BIGINT}
      </if>
    </where>
  </sql>
  <select id="findList" parameterType="com.fit.entity.MemberSheetItem" resultMap="BaseResultMap">
     select 
    <include refid="Base_Column_List" />
     from member_sheet_item
    <include refid="Base_Where_List" />
    order by id desc 
	<if test="offset != null and limit != null">
	limit ${offset}, ${limit}
	</if>
  </select>
  <select id="findCount" resultType="java.lang.Integer">
    select count(1) from member_sheet_item
    <include refid="Base_Where_List" />
  </select>
  <select id="get" parameterType="java.util.Map" resultMap="BaseResultMap">
     select 
    <include refid="Base_Column_List" />
     from member_sheet_item
     <include refid="Base_Where_List" />
  </select>
  <delete id="batchDelete">
    delete from member_sheet_item
     where id in (
     <foreach collection="array" item="id" separator=",">
     #{id}
     </foreach>
    )
  </delete>
</mapper>