<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fit.dao.PaperDao">
  <resultMap id="BaseResultMap" type="com.fit.entity.Paper">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="method" jdbcType="INTEGER" property="method" />
    <result column="cost_time" jdbcType="INTEGER" property="costTime" />
    <result column="pass_mark" jdbcType="INTEGER" property="passMark" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="product_category" jdbcType="BIGINT" property="productCategory" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_date, modify_date, `name`, `method`, cost_time, pass_mark, `status`, product_category
  </sql>
  <select id="getById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from paper
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="delete" parameterType="java.lang.Long">
    delete from paper
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="save" keyProperty="id" parameterType="com.fit.entity.Paper" useGeneratedKeys="true">
    insert into paper
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="modifyDate != null">
        modify_date,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="method != null">
        `method`,
      </if>
      <if test="costTime != null">
        cost_time,
      </if>
      <if test="passMark != null">
        pass_mark,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="productCategory != null">
        product_category,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="method != null">
        #{method,jdbcType=INTEGER},
      </if>
      <if test="costTime != null">
        #{costTime,jdbcType=INTEGER},
      </if>
      <if test="passMark != null">
        #{passMark,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="productCategory != null">
        #{productCategory,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.fit.entity.Paper">
    update paper
    <set>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="method != null">
        `method` = #{method,jdbcType=INTEGER},
      </if>
      <if test="costTime != null">
        cost_time = #{costTime,jdbcType=INTEGER},
      </if>
      <if test="passMark != null">
        pass_mark = #{passMark,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="productCategory != null">
        product_category = #{productCategory,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <sql id="Base_Where_List">
    <where>
      <if test="createDate != null and createDate != ''">
         and create_date = #{createDate,jdbcType=TIMESTAMP}
      </if>
      <if test="modifyDate != null and modifyDate != ''">
         and modify_date = #{modifyDate,jdbcType=TIMESTAMP}
      </if>
      <if test="name != null and name != ''">
         and `name` = #{name,jdbcType=VARCHAR}
      </if>
      <if test="method != null and method != ''">
         and `method` = #{method,jdbcType=INTEGER}
      </if>
      <if test="costTime != null and costTime != ''">
         and cost_time = #{costTime,jdbcType=INTEGER}
      </if>
      <if test="passMark != null and passMark != ''">
         and pass_mark = #{passMark,jdbcType=INTEGER}
      </if>
      <if test="status != null and status != ''">
         and `status` = #{status,jdbcType=INTEGER}
      </if>
      <if test="productCategory != null and productCategory != ''">
         and product_category = #{productCategory,jdbcType=BIGINT}
      </if>
    </where>
  </sql>
  <select id="findList" parameterType="com.fit.entity.Paper" resultMap="BaseResultMap">
     select 
    <include refid="Base_Column_List" />
     from paper
    <include refid="Base_Where_List" />
    order by id desc 
	<if test="offset != null and limit != null">
	limit ${offset}, ${limit}
	</if>
  </select>
  <select id="findCount" resultType="java.lang.Integer">
    select count(1) from paper
    <include refid="Base_Where_List" />
  </select>
  <select id="get" parameterType="java.util.Map" resultMap="BaseResultMap">
     select 
    <include refid="Base_Column_List" />
     from paper
     <include refid="Base_Where_List" />
  </select>
  <delete id="batchDelete">
    delete from paper
     where id in (
     <foreach collection="array" item="id" separator=",">
     #{id}
     </foreach>
    )
  </delete>
</mapper>